.button {
  height: 5.6rem;
  border-radius: 0.8rem;
  border: 0.1rem solid;
  padding: 1.2rem 1.6rem;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: 0.2rem;
  outline: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* THEMES */

.primary {
  background-color: transparent;
  color: var(--gray-64);

  &:hover {
    background-color: white;
  }
}

.secondary {
  background-color: var(--gray-50);
  color: white;
  transition: filter 0.3s ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }
}