.modal-content {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--gray-64);

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .modal-title {
      color: var(--gray-100);
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

  }

  .share-tip {
    margin-bottom: 2.4rem;
  }

  .page-info-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.8rem;

  }

  .param-description-container {
    display: flex;
    margin-top: 2.4rem;

    .param-description-box {
      padding-right: 1.6rem;
      display: flex;
      align-items: center;

      &:not(:first-of-type) {
        padding-left: 1.6rem;
      }

      &:not(:last-of-type) {
        border-right: 0.1rem solid var(--gray-8)
      }

      .param-icon {
        margin-right: 0.8rem;
      }
    }
  }
}