.app-container {
  min-height: 100vh;
  background: url('https://images-cdn.welcomesoftware.com/Zz0zZTliMjQ4MzhlNGExMWViYmJiMjFiZTI2ZWNmN2MzZA==');
  background-size: cover;
  display: flex;
  flex-direction: column;
}
